<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lichking.itf.dao.IExpressInfoDAO" >
  <resultMap id="BaseResultMap" type="com.lichking.pojo.ExpressInfoPOJO" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="orderNo" property="orderno" jdbcType="VARCHAR" />
    <result column="expressType" property="expresstype" jdbcType="VARCHAR" />
    <result column="expressNo" property="expressno" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, orderNo, expressType, expressNo
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ExpressInfo
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ExpressInfo
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lichking.pojo.ExpressInfoPOJO" >
    insert into ExpressInfo (Id, orderNo, expressType, 
      expressNo)
    values (#{id,jdbcType=INTEGER}, #{orderno,jdbcType=VARCHAR}, #{expresstype,jdbcType=VARCHAR}, 
      #{expressno,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lichking.pojo.ExpressInfoPOJO" >
    insert into ExpressInfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="orderno != null" >
        orderNo,
      </if>
      <if test="expresstype != null" >
        expressType,
      </if>
      <if test="expressno != null" >
        expressNo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderno != null" >
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="expresstype != null" >
        #{expresstype,jdbcType=VARCHAR},
      </if>
      <if test="expressno != null" >
        #{expressno,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lichking.pojo.ExpressInfoPOJO" >
    update ExpressInfo
    <set >
      <if test="orderno != null" >
        orderNo = #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="expresstype != null" >
        expressType = #{expresstype,jdbcType=VARCHAR},
      </if>
      <if test="expressno != null" >
        expressNo = #{expressno,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lichking.pojo.ExpressInfoPOJO" >
    update ExpressInfo
    set orderNo = #{orderno,jdbcType=VARCHAR},
      expressType = #{expresstype,jdbcType=VARCHAR},
      expressNo = #{expressno,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>