.typebcontainer{
	width:70%;
	padding-top:10px;
	margin-top:10px;
	margin-left:10%;
	margin-right:10%;
	margin-botton:10px;
}
.typeshow {
	text-align:center;
	margin:auto auto auto auto;
	padding-right:10px;
}
.before_add{
	padding-right:10px;
}
