.inner_boder{
	width:70%;
	padding-top:10px;
	margin-top:10px;
	margin-left:10%;
	margin-right:10%;
	margin-botton:10px;
}
.firt_line{
	
}
#comname{
	margin-right:30%;
}
#smallimg{
	width:23%;
	margin-right:5%;
	margin-left:5%;
	margin-botton: 10px;
}